<div class="card">
    <div class="card-body">
        <h5 class="titulo"> LISTAR TARJETA</h5>
        <table class="table">
            <tbody>
                <tr *ngFor="let tarjeta of listTarjetas">
                    
                    <td>{{ tarjeta.titular |uppercase }}</td>
                    <td>{{ tarjeta.numeroTarjeta }}</td>
                    <td>{{ tarjeta.fechaExpiracion }}</td>
                    <td>
                        <i (click)="editarTarjeta(tarjeta)" class="far fa-edit text-info"></i>
                        <i (click)="eliminarTarjeta(tarjeta.id)" class="far fa-trash-alt text-danger"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

