.far {
    cursor: pointer;
    margin-right: 7px;
}
h1{
    text-align: center;
    font-size: 40px  ;
    margin: 40px;
    background-color: green;
    padding: 30px;
    position: relative;
    border-radius: 15px;
    color: white;
    margin-top: 10px;
  }
  
  .container{
    margin: 40px;
    padding: 40px;
  
  }
  
  .btn{
    background-color: green;
    padding-left: 60px;
    padding-right: 60px;
  }
  